/* Main.css contains all styling related to the main pages of the site */
.section-main {
    position: relative;
    width: 100%;
    min-height: 50vh;
    background: #0D0D0D no-repeat center/50% url(../img/wjtb.png);
    /* background-size: contain; */
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 5vh;
}

.section-main h1 {
    color: #AC1b20; /* This is to be WJTB's Red! */
    text-shadow: 5px 4px #1E1E1E;
    font-family: 'Permanent Marker', sans-serif;
    font-size: 45px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 80px;
    text-align: center;
}

div.playerBox {
    position: sticky;
    right: 50%;
}

.section-two {
    min-height: 100vh;
    background: #0D0D0D;
    padding: 20px 5vh;
}

.section-two h2 {
    color: #FFD700;
    font-family: 'Permanent Marker', sans-serif;
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 30px 0;
}

.section-two p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    margin: 30px 0;
}


ol.body_li li{
    color: #F2274C;
    line-height: 3vh;
}

ol.body_li {
    padding: 5vh 10vh;
}

@media only screen and (min-width: 900px) {

    .section-main h1{
        font-size: 60px;
    }
}

@media only screen and (min-width: 1300px) {

    .section-main h1{
        font-size: 70px;
    }
}