/* Main.css contains all styling related to the main pages of the site */

* {
	box-sizing: border-box;
}

html, body {
	background: #0d0d0d;
}

p {
	line-height: 1.8;
	max-width: 70ch;
}

section {
	overflow: hidden;
}

.section-main {
	position: relative;
	width: 100%;
	min-height: 10rem;
	margin-top: 10rem;
	background: #0D0D0D no-repeat center/50% url(../img/wjtb.png);
	background-size: contain;
	background-position: center;
}

@keyframes splash-animation {
	from {transform: rotate(-16deg) scale(0.9)}
	to {transform: rotate(-12deg) scale(1.1)}
}

.section-main h1 {
	color: #ce2328;
	/* This is WJTB's Red! */
	text-shadow: 0.07em 0.07em #721114;
	font-family: 'Pixel', sans-serif;
	font-size: 1.5rem;
	line-height: 2.0rem;
	text-align: center;
	position: absolute;
	bottom: 21%;
	right: 3%;
	transform: rotate(-12deg) scale(1.1);
}

@media (prefers-reduced-motion: no-preference) {
	.section-main h1.splash-animation {
		animation-name: splash-animation;
		animation-duration: 1.3s;
		animation-iteration-count: infinite;
		animation-direction: alternate;	
	}
}

.section-two {
	height: 100%;
	max-width: 170ch;
	flex: 1 0 auto;
	background: #181818;
	padding-top: 0rem;
	padding-bottom: 4rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	margin-top: 2rem;
	margin-bottom: 0rem;
}

h2 {
	color: #ce2328;
	font-family: 'Fortzilla', sans-serif;
	font-size: 3rem;
	text-shadow: 0.07em 0.07em #721114;
	/* text-transform: uppercase; */
	margin: 2rem 0rem;
}

.section-two p {
	color: #cfcfcf;
	font-size: 1.5rem;
	margin: 2rem 0;
}

ol li {
	color: #cfcfcf;
	font-size: 1.5rem;
	list-style-type: none;
}

ol {
	counter-reset: li;
	padding: 0.5rem 2rem;
}

ol li:before {
	content: counter(li)".";
	margin-right: 0.8rem;
	counter-increment: li;
	color: #888888;
}

.content {
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

.section-bleed {
	width: 100%;
	height: 100%;
}

.img-icons {
	max-width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-icons>img {
	max-width: 100%;
}

.text {
	width: 100%;
}

.section-two .nopadding {
	padding-top: 0%;
}

iframe {
	width: 90%;
	/* its not possible to know how tall the content in the iframe is */
	/* because it would require cross site scripting*/
	/* the best we can do is to set it to 4000px and hope it isnt longer than that*/
	height: 4000px;
	border: none;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0%;
	background: #eeeeee;
}

/* Begin tablet sizing */
@media only screen and (min-width: 900px) {
	.section-main {
		margin-top: 0rem;
		min-height: 15rem;
	}
	.section-main h1 {
		font-size: 2rem;
		bottom: 21%;
		right: 6%;
	}

	.section-bleed {
		width: 100%;
		background-color: #0D0D0D;
		justify-content: center;
		align-items: center;
		display: flex;
		width: 100%;
		height: 100%;
	}

	.section-two {
		width: 100%;
		height: 100%;
		border-radius: 2rem 2rem 0rem 0rem;
		border: 0.35rem #ce2328;
		border-top-style: inset;
		border-right-style: inset;
		border-left-style: inset;
		border-bottom-style: none;
		padding-top: 0px;
		padding-bottom: 3rem;
		padding-left: 2rem;
		padding-right: 2rem;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2rem;
		margin-bottom: 0rem;
	}

	h2 {
		font-size: 3rem;
	}

	.content {
		width: 100%
		display: flex;
		flex-direction: unset;
		padding: 3%;
	}

	.img-icons {
		width: 33%;
		display: flex;
		justify-content: center;
		padding-bottom: 3%;
		padding-right: 3%;

	}

	.img-icons>img {
		width: 100%;
	}

	.text {
		width: 100%
	}
	
	iframe {
		border-radius: 20px;
	}

}

/* Begind desktop sizing */
@media only screen and (min-width: 1400px) {
	.section-main {
		align-items: end;
		background-size: 60rem;
		min-height: 30rem;
	}

	.section-main h1 {
		font-size: 2.5rem;
		bottom: 21%;
		right: 13%;
	}

	.section-bleed {
		width: 100%;
		background-color: #0D0D0D;
		justify-content: center;
		align-items: center;
		display: flex;
		height: 100%;
	}

	.section-two {
		position: relative;
		height: 100%;
		padding-top: 0px;
		padding-bottom: 150px;
		padding-left: 40px;
		padding-right: 40px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 40px;
		margin-bottom: 0px;
	}
	
	h2 {
		font-size: 55px;
	}

	.content {
		display: flex;
		flex-direction: unset;
		align-items: center;
	}

	/*Main Page polaroid styling */

	/*The container the polaroid sits in*/
	.img-icons {
		width: 33%;
		display: flex;
		align-items: center;
		padding-right: 10px;
		padding-top: 10px;
		justify-content: space-around;
	}

	.img-icons>img {
		max-width: 100%;
		max-height: 100%;
	}

	.text {
		padding-left: 10px;
		width: 100%;
	}
}
