/* Main.css contains all styling related to the main pages of the site */


body {
	--bg-color: #0d0d0d;
	--bg2-color: #181818;
	--bg3-color: #242424;
	--text-color: #cfcfcf;
	--text-shadow-color: #696969;
	--text-light-color: #888888;
	--accent-color: #ce2328;
	--accent-shadow-color: #721114;
	--accent2-color: #eded50;
	/* this should always be a light color */
	--iframe-bg-color: #eeeeee;
}

* {
	box-sizing: border-box;
}

html, body {
	background: var(--bg-color);
}

p {
	line-height: 1.8;
	max-width: 70ch;
}

section {
	overflow: hidden;
}

.section-main {
	position: relative;
	width: 100%;
	min-height: 10rem;
	margin-top: 7rem;
	margin-bottom: 1rem;
	background: var(--bg-color);
}

.section-main::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: var(--text-color);
	-webkit-mask-image: url(../img/wjtb.svg);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: 50%;
	-webkit-mask-position: center;
	mask-image: url(../img/wjtb.svg);
	mask-repeat: no-repeat;
	mask-size: 50%;
	mask-position: center;
}

@keyframes splash-animation {
	from {transform: rotate(-16deg) scale(0.9)}
	to {transform: rotate(-12deg) scale(1.1)}
}

.section-main h1 {
	font-size: 1.5rem;
	line-height: 0.9;
	text-align: left;
	position: absolute;
	top: 36%;
	right: 3%;
	transform: rotate(-12deg) scale(1.1);
}

.magictext {
	font-family: inherit;
	font-variant-numeric: tabular-nums;
}

.section-main h1 {
	color: var(--accent-color);
	text-shadow: 0.07em 0.07em var(--accent-shadow-color);
	font-family: 'Pixel', sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
	.section-main h1.splash-animation {
		animation-name: splash-animation;
		animation-duration: 1.3s;
		animation-iteration-count: infinite;
		animation-direction: alternate;	
	}
}

.section-two {
	height: 100%;
	max-width: 170ch;
	flex: 1 0 auto;
	background: var(--bg2-color);
	padding-top: 0rem;
	padding-bottom: 16rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	margin-top: 2rem;
	margin-bottom: 0rem;
}

body.lightmode .section-two {
	box-shadow: 0 0 0.5rem -0.1rem rgba(0, 0, 0, 0.3);
}

.page {
	position: relative;
}

h2 {
	color: var(--accent-color);
	font-family: 'Fortzilla', sans-serif;
	font-size: 3rem;
	text-shadow: 0.07em 0.07em var(--accent-shadow-color);
	/* text-transform: uppercase; */
	margin: 2rem 0rem;
}

.section-two p {
	color: var(--text-color);
	font-size: 1.5rem;
	margin: 2rem 0;
}

ol li {
	color: var(--text-color);
	font-size: 1.5rem;
	list-style-type: none;
}

ol {
	counter-reset: li;
	padding: 0.5rem 2rem;
}

ol li:before {
	content: counter(li)".";
	margin-right: 0.8rem;
	counter-increment: li;
	color: var(--text-light-color);
}

.content {
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

.section-bleed {
	width: 100%;
	height: 100%;
}

.img-icons {
	max-width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-icons>img {
	max-width: 100%;
}

.text {
	width: 100%;
}

.section-two .nopadding {
	padding-top: 0%;
}

iframe {
	width: 90%;
	/* its not possible to know how tall the content in the iframe is */
	/* because it would require cross site scripting*/
	/* the best we can do is to set it to 4000px and hope it isnt longer than that*/
	height: 4000px;
	border: none;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0%;
	background: var(--iframe-bg-color);
}

.styled-button {
	background-color: var(--bg-color);
	border-radius: 1.0em;
	font-size: 2rem;
	padding: 0.3em 1em 0.3em 1em;
	text-decoration: none;
	cursor:pointer;
	font-family: Fortzilla;
	color: var(--accent-color);
	border: solid var(--text-color) 0.1em;
	text-shadow: var(--accent-shadow-color) 0.07em 0.07em;
	margin-bottom: 20px;
	margin-top: 20px;
	margin: 20px 5px;
	box-shadow: 0 0em 0em 0em var(--text-color);
	transition: all 0.1s ease-out;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	--rotation-angle: 20deg;
	--perspective-dist: 10em;
	transform: perspective(var(--perspective-dist)) rotateX(var(--rotation-angle));
	user-select: none;
}

.styled-button:hover,
.styled-button:focus {
	transform: perspective(var(--perspective-dist)) rotateX(var(--rotation-angle)) translateY(-0.25em);
	background-color: var(--accent-color);
	color: var(--bg2-color);
	box-shadow: 0 0.25em 0.0em 0.0em var(--text-color);
}

.styled-button:active {
	box-shadow: 0 0em 0em 0em var(--text-color);
	background-color: var(--accent-color);
	color: var(--bg2-color);
	transform: perspective(var(--perspective-dist)) rotateX(var(--rotation-angle));
}

/* Begin tablet sizing */
@media only screen and (min-width: 900px) {
	.section-main {
		margin-top: 1rem;
		min-height: 15rem;
	}
	.section-main h1 {
		font-size: 2rem;
		top: 48%;
		right: 6%;
	}

	.section-bleed {
		width: 100%;
		background-color: var(--bg-color);
		justify-content: center;
		align-items: center;
		display: flex;
		width: 100%;
		height: 100%;
	}

	.section-two {
		width: 100%;
		height: 100%;
		padding-top: 0px;
		padding-bottom: 3rem;
		padding-left: 2rem;
		padding-right: 2rem;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2rem;
		margin-bottom: 0rem;
	}

	body:not(.lightmode) .section-two {
		border-radius: 2rem 2rem 0rem 0rem;
		border: 0.35rem var(--accent-color);
		border-top-style: solid;
		border-right-style: solid;
		border-left-style: solid;
		border-bottom-style: none;
	}

	h2 {
		font-size: 3rem;
	}

	.content {
		width: 100%
		display: flex;
		flex-direction: unset;
		padding: 3%;
	}

	.img-icons {
		width: 33%;
		display: flex;
		justify-content: center;
		padding-bottom: 3%;
		padding-right: 3%;

	}

	.img-icons>img {
		width: 100%;
	}

	.text {
		width: 100%
	}
	
	iframe {
		border-radius: 20px;
	}

}

/* Begind desktop sizing */
@media only screen and (min-width: 1400px) {
	.section-main {
		align-items: end;
		min-height: 30rem;
	}

	.section-main h1 {
		font-size: 2.5rem;
		top: 61%;
		right: 13%;
	}

	.section-bleed {
		width: 100%;
		background-color: var(--bg-color);
		justify-content: center;
		align-items: center;
		display: flex;
		height: 100%;
	}

	.section-two {
		position: relative;
		height: 100%;
		padding-top: 0px;
		padding-bottom: 150px;
		padding-left: 40px;
		padding-right: 40px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 40px;
		margin-bottom: 0px;
	}

	body.lightmode .section-two {
		border-radius: 1rem 1rem 0rem 0rem;
	}
	
	h2 {
		font-size: 55px;
	}

	.content {
		display: flex;
		flex-direction: unset;
		align-items: center;
	}

	/*Main Page polaroid styling */

	/*The container the polaroid sits in*/
	.img-icons {
		width: 33%;
		display: flex;
		align-items: center;
		padding-right: 10px;
		padding-top: 10px;
		justify-content: space-around;
	}

	.img-icons>img {
		max-width: 100%;
		max-height: 100%;
	}

	.text {
		padding-left: 10px;
		width: 100%;
	}
}
