/* Basic styling */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	font-family: sans-serif;
	font-size: 1rem;
}

header {
	position: absolute;
	top: 0%;
	width: 100%;
	z-index: 10;
}

#output {
	margin-top: 70px;
}

nav {
	background: var(--bg3-color);
	padding: 0 1rem;
}

.menu a {
	color: var(--text-color);
	/* make the text not selectable */
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
		-khtml-user-select: none; /* Konqueror HTML */
		  -moz-user-select: none; /* Old versions of Firefox */
			-ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
								  supported by Chrome, Edge, Opera and Firefox */
	font-size: 1rem;
	transform: scale(1.0);
	transition: transform 0.1s ease-out;
}

.menu a:focus, li.item:focus>a ,
.menu a:hover, li.item:hover>a {
	transform: scale(1.1);
}

.menu a:active, li.item:active>a {
	transform: scale(1.0);
}

a {
	color: var(--accent2-color);
	cursor: pointer;
	text-decoration: none;
}

.section-bleed a {
	display: inline-block;
	transform: scale(1.0);
	transition: transform 0.1s ease-in-out;
}

.section-bleed a:focus ,
.section-bleed a:hover {
	transform: scale(1.05);
}

.section-bleed a:active {
	transform: scale(1.0);
}

.menu,
.submenu {
	list-style-type: none;
	z-index: 5;
	box-sizing: border-box;
}

.logo {
	display: flex;
	height: 100%;
	align-items: center;
	flex-basis: 90%;
}

.item {
	padding: 0.8rem;
	margin: 0;
	transition: background-color 0.1s ease-in-out;
}

.item.button {
	padding: 9px 5px;
}

.item:focus ,
.item:hover {
	background-color: var(--bg-color);
	cursor: pointer;
}

.item:not(.button) a:focus,
.item a:focus::after,
.item:not(.button) a:hover,
.item a:hover::after {
	color: var(--text-color);
}

/* Mobile menu */
.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	z-index: 5;
}

.menu li a {
	display: block;
	padding: 15px 5px;
}

.menu li.subitem a {
	padding: 15px;
}

.toggle {
	order: 1;
	font-size: 20px;
}

.item.button {
	order: 2;
}

.item {
	order: 3;
	width: 100%;
	text-align: center;
	display: none;
}

.active .item {
	display: block;
}

/* Submenu up from mobile screens */
.submenu {
	display: none;
}

.submenu-active .submenu {
	display: block;
	z-index: 10;
}

.has-submenu i {
	font-size: 18px;
}

.has-submenu>a::after {
	/* CHANGE FONT */
	font-family: "Font Awesome 5 Free";
	font-size: 12px;
	line-height: 18px;
	font-weight: 900;
	content: "\f078";
	color: var(--text-color);
	padding-left: 5px;
	z-index: 5;
}

.subitem a {
	padding: 10px 15px;
}

.submenu-active {
	background-color: var(--bg-color);
	cursor: pointer;
	border-radius: 3px;
	z-index: 10;
}

/* Tablet menu */
@media only screen and (min-width: 900px) {

	.menu {
		z-index: 5;
	}

	.logo {
		flex: 1;
	}

	.item.button {
		width: auto;
		order: 1;
		display: block;
	}

	.toggle {
		flex: 1;
		text-align: right;
		order: 2;
	}

	/* Button up from tablet screen */
	.menu li.button a {
		padding: 10px 15px;
		margin: 5px 0;
	}
}

/* Desktop menu */
@media only screen and (min-width: 960px) {
	.menu {
		flex-wrap: nowrap;
		background: none;
		z-index: 5;
	}

	.logo {
		order: 0;
	}

	.item {
		order: 1;
		flex-basis: 8%;
		position: relative;
		display: block;
		width: auto;
	}

	.button {
		order: 2;
	}

	.submenu {
		width: 100%;
	}

	.submenu-active .submenu {
		display: block;
		position: absolute;
		left: 0;
		top: 68px;
		background: var(--bg-color);
		cursor: pointer;
		z-index: 10;
	}

	.toggle {
		display: none;
	}

	.submenu-active {
		border-radius: 0;
		z-index: 10;
	}
}
