img {
	color: var(--text-color);
	text-align: center;
}

section.shows {
	background: var(--bg-color) url("../img/wall.png") repeat center/50%;
	padding: 0;
}

div.showbox {
	box-shadow: 0 0 1.0rem 0rem rgba(0, 0, 0, 0.5);
}

div.postercontainer {
	flex-grow: 0;
	flex-shrink: 0;
	margin: 1rem;
	height: 30rem;
	width: 100%;
}

.showposter {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.cancelled .showposter {
	filter: grayscale(100%);
}

div.show {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
}

.showbg {
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 100%;
	background: var(--bg2-color);
}

div.show:nth-child(2n)>.showbg {
	background: var(--bg3-color);
}

.show.playing {
	z-index: 5;
}

.show.playing::before{
	--margin-size: 20px;
	content: '';
	position: absolute;
	background: linear-gradient(45deg ,#e50000 ,#ff8d00 ,#ffee00 ,#028121,
	#004cff ,#770088);
	background-size: 400%;
	filter: blur(40px);
	opacity: 0.7;
	height: calc(100% - var(--margin-size)*2);
	top: var(--margin-size);
	width: calc(100% - var(--margin-size)*2);
	left: var(--margin-size);
	margin: 10px;
	z-index: -1;
	animation: playing-glow-animation 60s linear infinite;
}

@keyframes playing-glow-animation{
	0%{
		background-position: 0 0;
	}
	50%{
		background-position: 400% 0;
	}
	100%{
		background-position: 0 0;
	}
}

div.showinfo {
	flex-grow: 1;
	border-left: solid 2px var(--text-color);
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 1rem;
}

.show p {
	color: var(--text-color);
	font-size: 1.5rem;
	margin-left: 1rem;
	width: 100%;
}

h2.showname {
	position: relative;
	margin-left: 1rem;
}

p.show.hosts {
	margin-bottom: 3rem;
	font-family: "Pixel";
	text-shadow: 0.07em 0.07em var(--text-shadow-color);
	font-size: 2rem;
	color: var(--text-color);
	display:inline;
	margin-right: 3rem;
}

p.showtimes {
	color: var(--text-light-color);
}

.cancelled .showtimes {
	text-decoration-line: line-through;
	text-decoration-thickness: 0.1em;
}

.cancelled_msg {
	margin-top: 0.1rem;
}

p.showdesc {
	margin-top: 2rem;
	margin-right: 1rem;
}

@media only screen and (min-width: 1400px) {
	section.shows {
		padding: 3rem 10rem;
	}

}

@media only screen and (min-width: 1000px) {
	div.show {
		flex-direction: row;
	}
	p.showname {
		margin-top: 2.5rem;
	}
	div.postercontainer {
		width: 30rem;
	}
	p.showtimes {
		display: inline;
		position: relative;
		top: -0.05rem;
	}
}


#showButtons {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
}

.showBtn {
	background-color: var(--bg-color);
	border-radius: 1.0em;
	font-size: 2rem;
	padding: 0.3em 1em 0.3em 1em;
	text-decoration: none;
	cursor:pointer;
	font-family: Fortzilla;
	color: var(--accent-color);
	border: solid var(--text-color) 0.1em;
	text-shadow: var(--accent-shadow-color) 0.07em 0.07em;
	margin-bottom: 20px;
	margin-top: 20px;
	margin: 20px 5px;
	box-shadow: 0 0em 0em 0em var(--text-color);
	transition: all 0.1s ease-out;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	--rotation-angle: 20deg;
	--perspective-dist: 10em;
	transform: perspective(var(--perspective-dist)) rotateX(var(--rotation-angle));
	user-select: none;
}

.showBtn:hover,
.showBtn:focus {
	transform: perspective(var(--perspective-dist)) rotateX(var(--rotation-angle)) translateY(-0.25em);
	background-color: var(--accent-color);
	color: var(--bg2-color);
	box-shadow: 0 0.25em 0.0em 0.0em var(--text-color);
}

.showBtn:active {
	box-shadow: 0 0em 0em 0em var(--text-color);
	background-color: var(--accent-color);
	color: var(--bg2-color);
	transform: perspective(var(--perspective-dist)) rotateX(var(--rotation-angle));
}
