section.shows {
	background: black url("../img/wall.png") repeat center/50%;
	padding: 3rem 10rem;
}
section.posterBox{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
}
div.card {
	--poster-size: 350px;
	background-color: transparent;
	width: var(--poster-size);
	height: calc(var(--poster-size)*(3/2));
	perspective: 1000px;
}

div.posterFrame {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.5s ease-out;
	transform-style: preserve-3d;
}

div.card:hover .posterFrame{
	transform: rotateY(180deg);
}

div#poster_front>img{
	width: 100%;
	height: 100%;
}


#poster_front, #poster_back{
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}

#poster_front{
	background-color: #0D0D0D;
}

#poster_back {
	background-color: #0d0d0d;
	color: #FFD700;
	padding: 20px;
	transform: rotateY(180deg);
} 

.card:nth-child(odd){
	transform: rotate(7deg);
}
.card:nth-child(even){
	transform: rotate(-2deg);
}
.card:nth-child(-n*3) {
	transform: rotate(0);
}

#showButtons {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
}

.showBtn {
	background-color: #0d0d0d;
	border-radius: 1.0em;
	font-size: 2rem;
	padding: 0.3em 1em 0.3em 1em;
	text-decoration: none;
	cursor:pointer;
	font-family: Fortzilla;
	color: #ce2328;
	border: solid #dddddd 0.1em;
	text-shadow: #722114 0.07em 0.07em;
	margin-bottom: 20px;
	margin-top: 20px;
	margin: 20px 5px;
	box-shadow: 0 0em 0em 0em #dddddd;
	transition: all 0.1s ease-out;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	--rotation-angle: 20deg;
	--perspective-dist: 10em;
	transform: perspective(var(--perspective-dist)) rotateX(var(--rotation-angle));
	user-select: none;
}

.showBtn:hover,
.showBtn:focus {
	transform: perspective(var(--perspective-dist)) rotateX(var(--rotation-angle)) translateY(-0.25em);
	background-color: #ce2328;
	color: #222222;
	box-shadow: 0 0.25em 0.0em 0.0em #dddddd;
}
.showBtn:active {
	box-shadow: 0 0em 0em 0em #dddddd;
	background-color: #ce2328;
	color: #222222;
	transform: perspective(var(--perspective-dist)) rotateX(var(--rotation-angle));
}
/* I still want to make the poster larger and then put the info to the right as an option, when clicked. */
