/* @import url("./shows.css"); */
/* @import url("./Navbar.css"); */
@import url("./navigation.css");
@import url("./main.css");
@import url("./player.css");
@import url("./staff.css");
@import url("./shows.css");
@import url("./history.css");


/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Oswald:wght@500&family=Permanent+Marker&family=Roboto:wght@300&family=Rock+Salt&family=RocknRoll+One&family=Special+Elite&display=swap');

.forms {
    display: flex;
    margin: auto;
    justify-content: center;
    justify-items: center;
}

/* 
 * Navigation.css controls audio player's position in the nav bar and the nav bar itself
 * player.css controls the audio player styling
 * staff.css controls the staff pages
 * shows.css controls the show-specific pages
 * history is history page content
 * main.css controls all main content - including that which shows up on on individual players (basically all that's below the logo)
 */